@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.arrow {
  position: relative;
}

.arrow::before {
  content: url("/test.svg");
  position: absolute;
  top: 60px;
  left: 50%;
  width: 30px;
  height: 100px;
  transform: translateX(-50%);
}
